@charset "utf-8";
/* CSS Document */

body {
	/*background-image: -webkit-radial-gradient(circle, green, black);*/
	background: #FFFFF0;
}

#header {
    top: 20%;
	left: 180px;
	position: fixed;
	color: #CCCCCC;
	font-family: Quill, Arial, Tahoma, sans-serif;
	font-size: 15px;
}

#cfleft {
	position:fixed;
	top: 30%;
	margin:0 auto;	
}
#cfleft img {
	padding-top: 50px;
	height:300px;
	width:300px;
	left: 180px;
	position:absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;	
	transition: opacity 1s ease-in-out;
}

#cfleft img.top:hover {
	opacity:0;
}		

#cfright {
	position:fixed;
	top: 30%;
	margin:0 auto;	
}
#cfright img {
	padding-top: 50px;
	height:300px;
	width:300px;
        left: 550px;
	position:absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;	
	transition: opacity 1s ease-in-out;
}

#cfright img.top:hover {
	opacity:0;
}		
